{% extends 'encyclopedia/layout.html' %}

{% block title %}Wiki-New Article{% endblock %}

{% block body %}
    <h2>Create a new wiki page</h2>
    <hr>
    <form action="{% url 'wiki:saveentry' %}" method="post">
        {%csrf_token%}
        <div>

            <input type="text" name="t" placeholder="Enter title" class="form-control mb-4 w-25">
        </div>
        <textarea name="content" id="content" cols="30" rows="20" class="form-control w-75"></textarea>
        <button type="submit" class="btn btn-primary mt-3">Add to wiki</button>
    </form>

{% endblock %}